.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: var(--padding-lg) var(--padding-sm);
  background-color: var(--secondary-bg);
  @media (max-width: 380px) {
    justify-content: center;
  }
  .imgEvents {
    max-width: 109px;
    width: 100%;
    height: 26px;
    object-fit: cover;
  }
}
